* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 160px);
  padding-top: 39px;
  padding-inline: 80px;
  z-index: 3;
}

main {
  position: fixed;
  right: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.scrollbar {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 24px;
  position: fixed;
  top: 53px;
  right: 27px;
  height: 92px;
  width: 21px;
  cursor: pointer;
  z-index: 4;
}

.main-square-top {
  position: fixed;
  width: 485px;
  height: 485px;
  left: 179px;
  top: -663px;
  background: #00a198;
  border-radius: 32px;
  transform: rotate(-30deg);
  z-index: 3;
}

.main-sun {
  position: fixed;
  top: 34%;
  right: 9.4375%;
  transform: translate(9.4375%, -34%);
  width: 196px;
  height: 196px;
}

.main-sun-curcle {
  position: fixed;
  width: 196px;
  height: 196px;
  left: 1282.53px;
  top: 384.31px;
  fill: #ff4661;
}

.main-sun-square-1 {
  width: 72px;
  height: 30px;
  position: fixed;
  left: 1151px;
  top: 407.43px;
  fill: #01a07f;
  border-radius: 5px;
}

.main-sun-square-2 {
  width: 69px;
  height: 92px;

  position: fixed;
  left: 1230.57px;
  top: 275px;
  fill: #01a07f;
  border-radius: 5px;
}

.main-sun-square-3 {
  width: 24px;
  height: 71px;

  position: fixed;
  left: 1398.56px;
  top: 277.56px;
  fill: #01a07f;
  border-radius: 5px;
}

.main-circle-blue {
  position: fixed;
  width: 2261px;
  height: 2261px;
  left: 900px;
  top: 304px;
  fill: #2570c7;
}

.main-triangle-1 {
  position: fixed;
  width: 1157.68px;
  height: 1967px;
  left: calc(50% - 1157.68px / 2 - 929.16px);
  top: 39px;
  fill: #ffc200;
  border-radius: 41px;
  transform: rotate(-3.36deg);
  z-index: 2;
}

.main-triangle-2 {
  position: fixed;
  width: 703px;
  height: 1967px;
  left: calc(50% - 703px / 2 - 346.48px);
  top: -74px;
  fill: #ffc200;
  border-radius: 41px;
  transform: rotate(-3.36deg);
  z-index: 2;
}

.main-triangle-3 {
  position: fixed;
  width: 703px;
  height: 921px;
  left: calc(50% - 703px / 2 + 0.5px);
  top: 468px;
  fill: #ffabc9;
  border-radius: 41px; /* Polygon 1 */
}

.main-triangle-4 {
  position: fixed;
  width: 934.14px;
  height: 934.14px;
  right: -934px;
  bottom: -60px;
  fill: #ffc200;
  border-radius: 21px;
  transform: rotate(-15deg);
  z-index: 3;
}

.page1-text {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.page2-text {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 4;
}

.page1-text-heading {
  width: 704px;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 110px;
  line-height: 100%;
  text-align: center;
  color: #213052;
}

.page1-text-description {
  width: 847px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  text-align: center;
  color: #213052;
}

.page2-text-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 110px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.page2-text-description {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  /* identical to box height, or 38px */
  text-align: center;

  color: #ffffff;
}

.pink {
  color: rgba(255, 70, 97, 1);
}

.main-img-mario {
  position: fixed;
  top: 100%;
  left: -1px;
  z-index: 3;
}

.main-img-dragon {
  position: fixed;
  left: calc(100% - 0px);
  bottom: 0;
  z-index: 3;
}
